<table>
  <tr valign="top">
    <td>
      <h4><a href="{{ url_for('main.software_profile', title=software.title) }}"
        id="color-red">{{ software.title }}</a></h4><br>
        <p>{{_('Categoria')}}: {{ software.category }} | {{_('Desenvolvedor')}}:
        {{ software.owner }} | {{_('Licença')}}: {{ software.license }} </p>
        <p>{{_('Palavras-Chaves')}}: {{ software.keyword }}</p>
    </td>
  </tr>
</table>
