{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
  <div class="row">
    <div class="col-md-12">
      <figure><img src="{{ user.avatar(100) }}" id="imagem_user" alt="foto de perfil do usuário"></figure>
      <h1>{% if user.username %}{{ user.username }}{% endif %}
      <small>{% if user.nickname %}@{{ user.nickname }}{% endif %}</small></h1>
      <small>Mude sua foto de perfil criando uma conta em <a href="https://br.gravatar.com/"
        id="color-red" target="_blank">Gravatar</a>.</small><br><br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>{% if user.about_me %}{{ user.about_me }}{% endif %}</p><br>
      {% if user == current_user %}
        <p><a href="{{ url_for('main.edit_profile', id=user.id) }}" id="color-red">{{_('Editar perfil')}}</a></p>
        <!--<p><a href="{{ url_for('main.deletar_user', id=user.id) }}" id="color-red">{{_('Apagar perfil')}}</a></p>-->
      {% endif %}
    </div>
  </div><hr><br><br>
    <div class="row">
      <div class="col-md-12">
        <h4>{{_('Fontes registradas por')}} {{ user.username }}:</h4>
        {% for source in sources %}
          <hr>{% include '_source.html' %}<hr>
        {% endfor %}<br><br>
        <h4>{{_('Aplicações registradas por')}} {{ user.username }}:</h4>
        {% for software in softwares %}
          <hr>{% include '_software.html' %}<hr>
        {% endfor %}
      </div>
    </div><br><br>
{% endblock %}
